<nav class="navbar navbar-light justify-content-between my-nav">
  <div class="navbar-brand"> <h1 class="tittle"> Heroes Word </h1> </div>
</nav>

<div class="actions-bar">
    <mat-icon 
        class="icon-action add-icon" 
        aria-hidden="false" 
        aria-label="new heroe" 
        fontIcon="add-circle" 
        (click)="onHandleCreateHeroe()"/>

  <form class="form-inline" class="form" (submit)="false" >
    <mat-form-field>
        <mat-label>Heroe Name:</mat-label>
        <input matInput appUpperText placeholder="Name" type="string" [formControl]="heroeNameBySearch" (keyup.enter)="searchHeroeByName($event)">
    </mat-form-field>

   <mat-icon 
        class="icon-action" 
        aria-hidden="false" 
        aria-label="search heroe by name" 
        fontIcon="search" 
        (click)="searchHeroeByName($event)"/>
  </form>
</div>

<div class="warper">
  <div class="grid-col">
    <app-heroes-table 
        [heroesList] = "heroesList()"
        (handleEditHeroe)="onHandleEditHeroe($event)"
        (handleDeleteHeroe)="onHandleDeleteHeroe($event)"
        (handleDetailHeroe)="onHandleDetailHeroe($event)"
        /> 
    <div class="page-container">
        <app-heroes-paginator 
            [length]="totalListLength()"
            [pageSize]="pageSize()"
            [pageIndex]="pageIndex()"
            (handlePage)="onHandlePage($event)"
        />
    </div>
  </div>
  <div class="grid-col">
    <app-heroes-images-carrousel [heroesList]="heroesList()" />
  </div>
</div>
